.featuredContent {
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: 150px;

    .subMainContent {
        display: flex;
        max-width: 1240px;

        a {
            margin: 0;
            padding: 0;
            color: inherit;
            text-decoration: none;

            :visited {
                text-decoration: none;
            }
        }
    }
}