.formRow{
    input {
        font-weight: 300;
        font-size: 15px;
        width: 100%;
        line-height: 1;
        height: 36px;
        display: block;
        margin: 3px 0;
        border: 1px solid #e6e6e6;
        padding: 1% 2%;
        outline: none;
    }    
}