.profile {
    display: flex;
    justify-content: center;
    background-color: #faf3e0;
    width: 100%;
    height: calc(100vh - 302px);
    padding: 0;

    .main {
        max-width: 1270px;
        flex-grow: 1;
        padding-top: 10px;
    }
}