.footer {
    padding: 45px 0;

    .footerLogo {
        padding-bottom: 20px;

        a {
            span {
                font-size: 25px;
                color: #d54215;
                font-family: 'RocknRoll One', sans-serif;
            }
        }
    }
}