.signInContent {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0 auto;
    max-width: 1270px;
    background-color: #fff;

    .wrap {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        max-width: 450px;

        h3 {
            color: #4D4D4D;
            font-size: 26px;
            font-weight: 300;
        }
        
        &:last-child {
            margin-top: 7px;
        }
    }

    .signInForm {
        display: flex;
        flex-direction: column;

        h3 {
            color: #999;
            font-size: 23px;
        }

        div {
            margin: 20px 0;
        }

        input[type=button] {
            flex-basis: 50%;
        }
    }
}